<% fillCollections -%>

<div class="col-md-10">
    <h2>Encounter Details</h2>
    <%= form_for :encounter,
                       :url => {:controller => "encounter", :action => "edit", :id => @encounter.id},
                       :html => {:id => "encounter-form"},
                       :remote => true,
                       :builder => TaggedBuilder do |form| -%>
        <%= hidden_field :encounter, :patient_id %>                       
        <%= form.date_select :date %>
        <%= form.collection_select :encounter_type_id, @all_encounter_types, :id, :name %>
    		<%= form.collection_select :location_id, @all_locations,:id, :name %>
        <%= form.collection_select :status, @statuses, :id, :name %>
        <%= form.text_area :indication, :cols => 50, :rows => 5 %>
        <%= form.collection_select :client_id, @all_clients, :id, :full_name %>
        <%= submit_tag "Save Changes to Encounter Details" %>    
    <% end -%>
</div>

<% if @encounter.status == "rejected" -%>
  <% @observations = @encounter.observations -%>
  <%= render :partial => "observation_list" %>
  <%= button_to("Study fixed, move to new list", :action => :study_fixed, :id => @encounter.id)  %>
<% end -%>
