<div id="encounter">
	
	<!-- Make an @encounter variable for some of the other following views -->
	<% @encounter = encounter_summary -%>
	<% @observations = encounter_summary.observations -%>
	
    <div id="header">
        <div id="date_type">
            <%= encounter_summary.patient.full_name + " : " + encounter_summary.date.strftime("%d %b %Y") + " : " + encounter_summary.encounter_type.name %>
        </div>
        <div id="links">
        	<% encounter_links_helper(encounter_summary) %>
            <% @links.each do |link| -%>
			  <%= link %>
			<% end -%>
        </div>
    </div>
	<div id="thumbnails">
		&nbsp;
		<%= render :partial => "image/thumbnails", 
    		       :locals => {:encounter => encounter_summary } %>
	</div>
	<div id="report">
	    <div id="observation">
	    	&nbsp;	
			<%= render :partial => "observation_list" %><br/>
	    </div>
		<div id="impression">
			&nbsp;
			<h2>Impression: </h2> <%= @encounter.impression %>
		</div>		
	</div>

</div>
<div id="encounter_spacer">&nbsp;</div>
