<% encounter = image.encounter -%>
<% patient = encounter.patient -%>
<!-- Button trigger modal -->

<div class="img-container">
  <a data-toggle="modal" data-target="#lightbox<%=image.id-%>">
    <%= image_tag image.url, :width => "100%" %>
  </a>
</div>

<% if encounter.status == "final" || encounter.status == "ready_for_printing" -%>
  Observations: <br/>
  <% encounter.observations.each do |obs| -%>
     <%= obs.question_concept.name + "-" + obs.value_concept.name %><br/>
  <% end -%>
    Impression:<br/>
  <%= encounter.impression unless encounter.impression.nil? %>
    Radiologist: <br/>
<%= encounter.provider.full_name %>
<% end -%>
