<% @patient = @encounter.patient %>
<% @page_title = @patient.full_name %>

<% fillCollections %>

<%= errors_for(@encounter) %>

<div class="row spacer">
<%= render :partial => "encounter_details",
           :locals => {:encounter => @encounter,
                       :all_encounter_types => @all_encounter_types} %>
</div>

<div class="row spacer">
<%= render :partial => "image/thumbnails_rw",
           :locals => {:encounter => @encounter} %>
</div>
<div class="row">
<%= render :partial => "image/upload_image",
           :locals => {:encounter => @encounter} %>

</div>

<%= link_to "Return to Encounter list", :action => 'find', :id => @patient %>