<% @page_title = "New Encounter" %>
<% @patient = @encounter.patient %>
<% fillCollections %>

<% if @encounter.errors.any? %>
  <ul>
    <% @encounter.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<div class="row">
  <%= render :partial => "encounter_details",
             :locals => {:encounter => @encounter,
                         :all_encounter_types => @all_encounter_types,
                         :all_providers => @all_providers,
                         :patient => @patient } %>
</div>
<div class="row">
  <%= render :partial => "image/thumbnails_rw", 
             :locals => {:encounter => @encounter} %>

  <%= render :partial => "image/upload_image",
             :locals => {:encounter => @encounter} %>
</div>
<div class="row">
  <%= link_to "Return to Encounter list", :action => 'find', :id => @patient %>
</div>