<!-- Call the report_images helper to create our image divs -->
<div class="row">
<% if @patient.recent_encounters.length > 1 -%>
	<div class="col-md-5">
		<h3>Current: <%= @encounter.date.strftime("%d-%m-%y") %></h3>
		<% @encounter.images.each do |image| -%>
			<%= render(:partial => "image_view", :locals => {image: image} ) %>
		<% end -%>
	</div>

	<!-- load hidden divs with the recent encounters -->
	<% first_prior = true -%>
	<% (@patient.recent_encounters - [@encounter]).each_with_index do |prior, index| -%>
		
		<!-- Show the first prior, hide the others -->
		<% if first_prior -%>
			<div class="col-md-5" id="prior<%=index%>">
		<% else -%>
			<div class="col-md-5" id="prior<%=index%>" style="display: none;">
		<% end -%>

		<h3>Prior: <%= prior.date.strftime("%d-%m-%y") %></h3>
		<% prior.images.each do |image| -%>
			<%= render(:partial => "image_view", :locals => {image: image} ) %>
		<% end -%>
		<% first_prior = false -%>
		</div>
	<% end -%>

	<!-- Create the comparison button list -->
	<div class="col-md-1">
		<h3>Priors</h3>
		<% (@patient.recent_encounters - [@encounter]).each_with_index do |prior,index| -%>
			<button class="btn btn-default btn-sm select-prior" data-target="#prior<%=index-%>"><%=prior.date.strftime("%d-%m-%y")-%></button>
		<% end -%>
	</div>

<% else -%>
	<div class="col-md-12">
		<h3>Current: <%= @encounter.date.strftime("%d-%m-%y") %></h3>
		<% @encounter.images.each do |image| -%>
			<%= render(:partial => "image_view", :locals => {image: image} ) %>
		<% end -%>
	</div>
<% end -%>
</div>

<div class="row">
	<h3>Clinical Summary</h3>
	<p>Location: <%= @encounter.location.name unless @encounter.location.nil? -%></p>
	<p>Indication: <%= @encounter.indication unless @encounter.indication.nil? -%></p>
</div>

<%= form_tag({:action => "report", :id => @encounter.id}) do -%>
<!-- Everyone can see the normal button -->
<%= submit_tag "Normal", {:class => "btn btn-default"} %>

<!-- Assistants cannot do full reports -->
<% if @current_user.privilege.name == "assistant" -%>
	<%= submit_tag "Send to Radiologist", :class => "btn btn-default" %>
<% else -%>
	<button type="button" class="btn btn-default toggle-visibility" data-target="#full-report">Full Report</button>
<% end -%>

<button type="button" class="btn btn-default toggle-visibility" data-target="#rejection">Reject Encounter</button>

<div id="full-report" style="display: none;">
	<div class="row col-md-12">
		<fieldset>
			<legend>Lungs</legend>
			<fieldset class="col-md-1">
				<legend>Infiltrate</legend>
				<% question = "pulmonary_infiltrate" -%>
				<% choices = ["none", "right", "left", "perihilar","bilateral", "diffuse"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Inflation</legend>
				<% question = "pulmonary_inflation" -%>
				<% choices = "normal", "hyperinflated", "hypoinflated" -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Cavitation</legend>
				<% question = "pulmonary_cavitation" -%>
				<% choices = ["none", "right", "left", "bilateral"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Interstitial Disease</legend>
				<% question = "interstitial_lung_process" -%>
				<% choices = ["none", "right", "left", "perihilar", "diffuse"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-3">
				<legend>Parenchymal Scarring/Atelectasis</legend>
				<fieldset class="col-md-6">
					<legend>Upper</legend>
					<% question = "lung_scarring_upper" -%>
					<% choices = ["none", "right", "left", "bilateral"] %>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
				<fieldset class="col-md-6">
					<legend>Lower</legend>
					<% question = "lung_scarring_lower" %>
					<% choices = ["none", "right", "left", "bilateral"] %>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Pulmonary Nodules</legend>
				<% question = "pulmonary_nodules" %>
				<% choices = ["none", "solitary", "two_to_five", "more_than_five", "miliary_changes"] %>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
		</fieldset>
	</div>

	<div class="row">
		<fieldset class="col-md-12">
			<legend>Mediastinum</legend>
			<fieldset class="col-md-2">
				<legend>Cardiomegaly</legend>
				<% question = "cardiomegaly" -%>
				<% choices = ["none", "mild", "moderate", "severe" ] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Aorta</legend>
				<% question = "aorta" -%>
				<% choices = ["normal", "unfolded_aorta", "aortic_aneurysm"] -%>
				<%= fieldset_helper(question, choices) -%>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Pulmonary Vasculature</legend>
				<% question = "pulmonary_vasculature" -%>
				<% choices = ["normal", "enlarged", "decreased"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Paratracheal Adenopathy</legend>
				<% question = "paratracheal_adenopathy" -%>
				<% choices = ["none", "present"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Hilar Adenopathy</legend>
				<% question = "hilar_adenopathy" -%>
				<% choices = ["none", "right", "left", "bilateral"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Mediastinal Mass</legend>
				<% question = "mediastinal_mass" -%>
				<% choices = ["none", "present"] %>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Pleura</legend>

			<fieldset class="col-md-4">
				<legend>Pleural Effusion</legend>

				<fieldset class="col-md-6">
					<legend>Right</legend>
					<% question = "pleural_effusion_right" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>

				<fieldset class="col-md-6">
					<legend>Left</legend>
					<% question = "pleural_effusion_left" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>

			<fieldset class="col-md-4">
				<legend>Pleural Scarring (Check All That Apply)</legend>
				<% question = "pleural_scarring" -%>
				<% choices = ["right_apical", "right_lateral", "right_basilar", "left_apical", "left_lateral", "left_basilar" ]%>
				<%= checkbox_helper(question, choices) %>
			</fieldset>

			<fieldset class="col-md-4">
				<legend>Pneumothorax</legend>
				<fieldset class="col-md-6">
					<legend>Right</legend>
					<% question = "pneumothorax_right" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>

				<fieldset class="col-md-6">
					<legend>Left</legend>
					<% question = "pneumothorax_left" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Bones</legend>
			<% question = "bone_findings_on_chest_xray?" -%>
			<% choices = ["normal", "osteoporosis", "acute_fracture", "healed_fracture" ]-%>
			<%= fieldset_helper(question, choices) %>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Impression</legend>
			<%= text_area_tag "impression", @impression, :rows => 8, :class => "form-control" %>
		</fieldset>
	</div>
	<%= submit_tag "Finalize Report", {:class => "btn btn-default"} %>
</div>
<br/>

<% end -%>

<%= render :partial => "rejection",
		   :locals => {:encounter => @encounter} %>
