<% @encounter.images.each do |image| -%>
<%= render(:partial => "image_view", :locals => {image: image} ) %>
<% end -%>

<%= form_tag({:action => "report", :id => @encounter.id}) do -%>
<button type="button" class="btn btn-default toggle-visibility" data-target="#rejection">Reject Encounter</button>
<%= submit_tag "Normal", {:class => "btn btn-default"} %>
<button type="button" class="btn btn-default toggle-visibility" data-target="#full-report">Full Report</button>
<%= button_to_function("Current Study", "imagepopup('#{@encounter.id}', 'image')", :class => "btn btn-default") %>

<div id="full-report" style="display: none;">
	<fieldset>
		<legend>Clinical Summary</legend>
		<%= text_area_tag "clinical_summary", "Location: #{@encounter.location.name unless @encounter.location.nil?}\nIndication: #{@encounter.indication}", :disabled => "true", :rows => "5", :class => "form-control"  %>
	</fieldset>

	<div class="row col-md-12">
		<fieldset>
			<legend>Lungs</legend>
			<fieldset class="col-md-1">
				<legend>Infiltrate</legend>
				<% question = "pulmonary_infiltrate" -%>
				<% choices = ["none", "right", "left", "perihilar","bilateral", "diffuse"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Inflation</legend>
				<% question = "pulmonary_inflation" -%>
				<% choices = "normal", "hyperinflated", "hypoinflated" -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Cavitation</legend>
				<% question = "pulmonary_cavitation" -%>
				<% choices = ["none", "right", "left", "bilateral"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Interstitial Disease</legend>
				<% question = "interstitial_lung_process" -%>
				<% choices = ["none", "right", "left", "perihilar", "diffuse"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-3">
				<legend>Parenchymal Scarring/Atelectasis</legend>
				<fieldset class="col-md-6">
					<legend>Upper</legend>
					<% question = "lung_scarring_upper" -%>
					<% choices = ["none", "right", "left", "bilateral"] %>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
				<fieldset class="col-md-6">
					<legend>Lower</legend>
					<% question = "lung_scarring_lower" %>
					<% choices = ["none", "right", "left", "bilateral"] %>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Pulmonary Nodules</legend>
				<% question = "pulmonary_nodules" %>
				<% choices = ["none", "solitary", "two_to_five", "more_than_five", "miliary_changes"] %>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
		</fieldset>
	</div>

	<div class="row">
		<fieldset class="col-md-12">
			<legend>Mediastinum</legend>
			<fieldset class="col-md-2">
				<legend>Cardiomegaly</legend>
				<% question = "cardiomegaly" -%>
				<% choices = ["none", "mild", "moderate", "severe" ] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Aorta</legend>
				<% question = "aorta" -%>
				<% choices = ["normal", "unfolded_aorta", "aortic_aneurysm"] -%>
				<%= fieldset_helper(question, choices) -%>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Pulmonary Vasculature</legend>
				<% question = "pulmonary_vasculature" -%>
				<% choices = ["normal", "enlarged", "decreased"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Paratracheal Adenopathy</legend>
				<% question = "paratracheal_adenopathy" -%>
				<% choices = ["none", "present"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Hilar Adenopathy</legend>
				<% question = "hilar_adenopathy" -%>
				<% choices = ["none", "right", "left", "bilateral"] -%>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
			<fieldset class="col-md-2">
				<legend>Mediastinal Mass</legend>
				<% question = "mediastinal_mass" -%>
				<% choices = ["none", "present"] %>
				<%= fieldset_helper(question, choices) %>
			</fieldset>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Pleura</legend>

			<fieldset class="col-md-4">
				<legend>Pleural Effusion</legend>

				<fieldset class="col-md-6">
					<legend>Right</legend>
					<% question = "pleural_effusion_right" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>

				<fieldset class="col-md-6">
					<legend>Left</legend>
					<% question = "pleural_effusion_left" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>

			<fieldset class="col-md-4">
				<legend>Pleural Scarring (Check All That Apply)</legend>
				<% question = "pleural_scarring" -%>
				<% choices = ["right_apical", "right_lateral", "right_basilar", "left_apical", "left_lateral", "left_basilar" ]%>
				<%= checkbox_helper(question, choices) %>
			</fieldset>

			<fieldset class="col-md-4">
				<legend>Pneumothorax</legend>
				<fieldset class="col-md-6">
					<legend>Right</legend>
					<% question = "pneumothorax_right" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>

				<fieldset class="col-md-6">
					<legend>Left</legend>
					<% question = "pneumothorax_left" -%>
					<% choices = ["none", "small", "moderate", "large"] -%>
					<%= fieldset_helper(question, choices) %>
				</fieldset>
			</fieldset>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Bones</legend>
			<% question = "bone_findings_on_chest_xray?" -%>
			<% choices = ["normal", "osteoporosis", "acute_fracture", "healed_fracture" ]-%>
			<%= fieldset_helper(question, choices) %>
		</fieldset>
	</div>
	<div class="row">
		<fieldset class="col-md-12">
			<legend>Impression</legend>
			<%= text_area_tag "impression", @impression, :rows => 8, :class => "form-control" %>
		</fieldset>
	</div>
	<%= submit_tag "Finalize Report", {:class => "btn btn-default"} %>
</div>

<% unless @patient.recent_encounters.length == 0 -%>
<% @patient.recent_encounters.each do |comp| -%>
<% unless comp.id == @encounter.id -%>
<%= button_to_function(comp.date.strftime("%d-%m-%y"), "imagepopup('#{comp.id}', 'comp')", :class => "btn btn-default") %>
<% end -%>
<% end -%>
<% end -%>
<br/>

<% end -%>

<%= render :partial => "rejection",
		   :locals => {:encounter => @encounter} %>
