<% @page_title = "Reporting Statistics" -%>

<%= link_to 'Quality Control Statistics', :controller => :quality, :action => :stats %>

<h2>
Total Patients: <%= @patients.length %><br/>
Encounters during Period: <%= @encounters_during_range.length %><br/>
Period: <%= @start_date + " to " + @end_date %><br/>
<br/>
Final: <%= @stat_hash["final"] || 0 %><br/>
New: <%= @stat_hash["final"] || 0 %><br/>
Ordered: <%= @stat_hash["ordered"] || 0 %><br/>
Ready for Printing: <%= @stat_hash["ready_for_printing"] || 0 %><br/>
Radiologist to read: <%= @stat_hash["radiologist_to_read"] || 0 %><br/>
Archived: <%= @stat_hash["archived"] || 0 %><br/>
Rejected: <%= @stat_hash["rejected"] ||0 %>
</h2>
<br/>

<%= form_tag :action => "statistics"  do -%>

  <p><label for="stats_start_date">Start Date</label><br/>
    <%= date_field "report", :start_date %>
  </p>
  <p><label for="stats_end_date">End Date</label><br/>
    <%= date_field "report", :end_date %>
  </p>
  <%= submit_tag "Stats" %>

<% end -%>


