<% @page_title = "Reporting Statistics" -%>

<%= link_to 'Quality Control Statistics', :controller => :quality, :action => :stats %>

<h2>
Total Patients: <%= @patients.length %><br/>
Encounters during Period: <%= @encounters_during_range.length %><br/>
Period: <%= @start_date + " to " + @end_date %><br/>
<br/>
Final: <%= @final %><br/>
New: <%= @new %><br/>
Ordered: <%= @ordered %><br/>
Ready for Printing: <%= @ready_for_printing %><br/>
Radiologist to read: <%= @radiologist_to_read %><br/>
Archived: <%= @archived %><br/>
Rejected: <%= @rejected %>
</h2>
<br/>

<% form_tag :action => "statistics"  do -%>

  <p><label for="stats_start_date">Start Date</label><br/>
    <%= date_field "report", :start_date %>
  </p>
  <p><label for="stats_end_date">End Date</label><br/>
    <%= date_field "report", :end_date %>
  </p>
  <%= submit_tag "Stats" %>

<% end -%>


