<%= errors_for(@patient) %>

<!--[form:patient]-->
<p><label for="patient_mrn_ampath">AMPATH ID</label><br/>
<%= text_field 'patient', 'mrn_ampath'  %></p>

<p><label for="patient_mtrh_rad_id">MTRH Radiology Id</label><br/>
<%= text_field 'patient', 'mtrh_rad_id'  %></p>

<p><label for="patient_given_name">Given name</label><br/>
<%= text_field 'patient', 'given_name'  %></p>

<p><label for="patient_middle_name">Middle name</label><br/>
<%= text_field 'patient', 'middle_name'  %></p>

<p><label for="patient_family_name">Family name</label><br/>
<%= text_field 'patient', 'family_name'  %></p>

<p><label for="patient_gender">Gender</label><br/>
<%= select('patient', 'gender', ["Male", "Female"], {}) %></p>

<p><label for="patient_tribe">Tribe</label><br/>
<%= collection_select('patient', 'tribe_id', @all_tribes, :id, :name) %></p>

<p><label for="patient_address1">Address1</label><br/>
<%= text_field 'patient', 'address1'  %></p>

<p><label for="patient_address2">Address2</label><br/>
<%= text_field 'patient', 'address2'  %></p>

<p><label for="patient_city_village">City/Village</label><br/>
<%= text_field 'patient', 'city_village' %></p>

<p><label for="patient_state_province">State/Province</label><br/>
<%= text_field 'patient', 'state_province' %></p>

<p><label for="patient_country">Country</label><br/>
<%= text_field 'patient', 'country', {:value => "Kenya"} %></p>

<p><label for="patient_birthdate">Birthdate</label><br/>
<%= date_select 'patient', 'birthdate',
    :start_year => getBirthDateStart,
    :end_year => getBirthDateEnd  %></p>
    
<p><label for="patient_birthdate_estimated">Birthdate Estimated? (Check if yes)</label><br/>
<%= check_box('patient', 'birthdate_estimated') %></p>

<!--[eoform:patient]-->

