<tr>
    <td class="col-md-2"><%= patient.mrn_ampath unless patient.mrn_ampath.nil? %></td>
    <td class="col-md-2"><%= patient.mtrh_rad_id unless patient.mtrh_rad_id.nil? %></td>
    <td class="col-md-2"><%= patient.full_name %></td>
	<td class="col-md-2"><%= patient.last_location %></td>
    <td class="col-md-2"><%= patient.encounters.last.date.strftime("%Y-%m-%d") unless patient.encounters.last.nil? %></td>
    <td class="col-md-1">
        <% patient_link_helper(patient) -%>
		<% @links.each do |link| %>
			<%= link %>
		<% end -%>
    </td>
</tr>
