<h2>Patient #1 - Will remain intact</h2>
<table>
    <tr>
        <th>Ampath ID</th>
        <th>MTRH Rad ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    <div id="patient-0">
      <%= render :partial => "patient", :locals => {:patient => @patient0 } %>
    </div>
</table>


<div id="form-patient-0">
  <%= form_tag :url => url_for(:action => "set_patient"),
                      :html => {:id => "form-patient"},
                      :remote => true do -%>
  <%= hidden_field_tag :which_patient, 0 %>
  MTRH Radiology ID:
  <%= text_field_tag :mtrh_rad_id %>
  <%= submit_tag "Set Patient 1" %>
  <% end -%>
</div>

<h2>Patient #2 - Will be deleted</h2>
<table>
    <tr>
        <th>Ampath ID</th>
        <th>MTRH Rad ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    <div id="patient-1">
      <%= render :partial => "patient", :locals => {:patient => @patient0 } %>
    </div>
</table>

<div id="form-patient-1">
  <%= form_tag :url => url_for(:action => "set_patient"),
                      :html => {:id => "form-patient"},
                      :remote => true do -%>
  MTRH Radiology ID:
  <%= text_field_tag :mtrh_rad_id %>
  <%= submit_tag "Set Patient 2" %>
  <% end -%>
</div>