<p>
<b>Name</b>
<%= best_in_place @concept, :name %>
</p>
<p>
<b>Description</b>
<%= best_in_place @concept, :description %>
</p>
<b>Answers</b>
<p>

<%= content_tag 'div', :id => 'answers', data: {concepts: Concept.autocomplete} do %>
    <%= render :partial => "answer", :collection => @concept.answers %>
<% end -%>

<%= form_tag({:action => :add_answer, :id => @concept.id}, :remote => true) do -%>
    <label for="concept_lookup" >Concept Search</label>
    <input class="autocomplete" type="text" id="concept_lookup" name="concept_lookup" />
    <%= submit_tag "Add Answer" %>
<% end -%>
</p>