<p>
<b>Name</b>
<%= best_in_place @concept, :name %>
</p>
<p>
<b>Description</b>
<%= best_in_place @concept, :description %>
</p>
<b>Answers</b>
<p>
<div id='answers'>
    <%= render :partial => "answer", :collection => @concept.answers %>
</div>
<%= form_tag(:action => "add_answer", :id => @concept,:remote => true) do -%>
    <label for="concept_lookup" >Concept Search</label>
    <input type="text" id="concept_lookup" name="concept_lookup" />
        <div class="auto_complete" id="concept_lookup_auto_complete" ></div>
        <%= javascript_tag("new Autocompleter.Local('concept_lookup', 'concept_lookup_auto_complete', concepts,
                                                    {fullSearch: true, frequency: 0, minChars: 1});") %>
    <%= submit_tag "Add Answer" %>
<% end -%>
</p>