<table class="table">
  <% for provider in @all_providers %>
    <tr valign="top" id="<%= cycle("ListLine1", "ListLine0") %>">
      <td><%= provider.full_name %></td>
      <td><%= provider.email %></td>
      <td><%= provider.privilege.name %></td>
      <td><%= provider.title %></td>
      <td><%= link_to(" edit ", :action => :edit_provider, :id => provider.id) %></td>
    </tr>
    
    <% end -%>
</table>
<%= link_to("Add Provider", :action => "add_provider") %>