<h1>New location</h1>

<%= errors_for(@location) %>

<%= form_for(@location) do |f| -%>

  <p>
      Site Name: <%= f.text_field :name %>
  </p>


  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', locations_path %>