<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
  <title>ReferralPACS : <%= @page_title %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  
  <% if @page_specific_scripts_in %> <%= javascript_include_tag @page_specific_scripts_in %> <% end %>
  <% if @load_concepts_js_array %><script src="/dictionary/concepts_for_lookup" type="text/javascript"></script><% end %>

</head>

<%= (@onload ? "<body onload='" + @onload + "'>" : "<body>").html_safe  -%>

<% setup_layout -%>
    <div id="banner">
        <h1>ReferralPACS - <%= @page_title %></h1>
        <h2><%= @current_patient_banner unless @current_patient_banner.nil? %></h2>
    </div>
    <div id="user_banner">
        <% if session[:user_id] -%>
        <h3>Logged in as: <%= @user.email %> | <%= link_to('Log Off', {:controller => :login, :action => :login}) %> </h3>
        <% end -%>
    </div>
    <div id="command_list">
        <% if session[:user_id] -%>
            <% unless @command_list.nil? -%>
                &nbsp;|&nbsp;
                <% for command in @command_list %>
                    <%= command %>&nbsp;|&nbsp;
                <% end -%>
            <% end -%>
        <% end -%>
    </div>
    <div id="blankspace">
    &nbsp;
    </div>  
    <div id="centercontent">
        <% if flash[:notice] -%>
            <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <%= yield %>
    </div>
</body>
</html>